{% extends 'base.html'%}
<html>
<head>
    <title> HomePage </title>
</head>
<body>

{%block content%}

<h1> Welcome to Page Home!!!</h1>
<h2>Login please</h2>
<form action="login" method="POST">
    {% csrf_token %}
    <div class="login">
        <div>
            Username: <input type="text" name="username"> <br> <br>
        </div>
        <div> 
            Email: <input type="text" name="email"> <br> <br>
        </div>
        <div>
            Password: <input type="text" name="password"> <br>
        </div>

    <div>
        <input type="submit">
    </div>
</div>
</form>


{%endblock%}
</body>
</html>